@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.1rem;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #323344 100%);
    transition: top 2s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 17px rgba(0,0,0,0.4);
}

.h2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}
.h2 span{
    color: orange;
}


.navbar{
    display: flex;
    transition: top 2s;
}
.navbar a{
    display: flex;
    color: white;
    transition: 2s ease-in-out;
    margin-left: 3rem;
    margin-right: 2rem;
    font-size: 1rem;
    text-decoration: none;
}

.navbar a:hover{
    color: #0ef;
    font-size: 1.1rem;
    text-decoration: underline;
}

.logo{
    color: black;
    font-size: 1.4rem;
    text-decoration: none;
}



.h1 span{
    color: orange;
}
/* 
.container{
    min-height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 15px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    flex-wrap: wrap;
}

.container form h1{
    color: black;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.container form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid black;
}

.container form input::placeholder{
    color: #9d9292;
}

.container form #lastName,
.container form #mobile{
    margin-left: 20px;
}

.container form h4{
    color: black;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}

.container form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid black;
    color: black;
    font-weight: 400;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}

textarea::-webkit-scrollbar{
    width: 1em;
}

textarea::-webkit-scrollbar-thumb{
    background-color: rgba(194,194,194,0.713);
}

.container form #button{
    border: none;
    background: black;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    color: white;
    width: 100px;
    padding: 0;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: 0.3s;
}

.container form #button:hover{
    opacity: 0.7;
}

#firstname{
    color: #ddd;
} */
/* ------------------------------------------------------------------------- */

footer {
    background-color: #333;
    color: #fff;
    /* padding: 20px; */
    padding-top: 20px;
    text-align: center;
    height: 230px;
    /* border-radius: 3%; */
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

footer ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer li {
    margin: 0 15px;
}

footer .social-icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

#i1:hover{
   text-decoration: underline;
}
#i2:hover{
    text-decoration: underline;
}
#i3:hover{
    text-decoration: underline;
}
#i4:hover{
    text-decoration: underline;
}

/* --------------------------------------------------------------------------- */
.creators{
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.creators a{
    height: 200px;
    width: 200px;
    border: 1px solid black;
    border-radius: 7%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323344;
}
.feedback{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedback a{
    text-decoration: none;
    color: rgb(98, 98, 202);
    margin-bottom: 30px;
}
.feedback a:hover{
    text-decoration: underline;
}